body {
  background: $secondary-colour;
  font-family: 'Montserrat', sans-serif;
}

button, p, b, h1, h2, h3 {
  color: $text-colour;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 54pt;
  letter-spacing: 22.5px;
}

h2 {
  font-size: 31pt;
  letter-spacing: 7.8px;
}

h3 {
  font-size: 20pt;
  letter-spacing: 2px;
}
