.outer {
  clip-path: polygon(0 10%, 100% 0%, 98% 100%, 0% 100%);
  padding: 6px;
  border: none;
  transition: background-color .1s ease;
  background-color: $primary-colour;


  &:hover, &.active {
    cursor: pointer;
    background-color: $tertiary-colour;
  }
}

.button {
  font-size: 30px;
  padding: 32px 46px;
  border: none;
  clip-path: polygon(0 10%, 100% 0%, 98% 100%, 0% 100%);
  text-transform: uppercase;
  letter-spacing: 8px;
  background: $primary-colour;

  &:focus {
    outline: none;
  }
}