.button {
  background-color: $primary-colour;
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.33);
  border-radius: 100px;
  font-size: 36px;
  letter-spacing: 2px;
  transition: margin 300ms ease, box-shadow 600ms ease, background-color 800ms ease;
  padding: 10px 20px;
  border: none;
  min-height: 70px;
  
  &.active {
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.33);
    margin-top: 6px;
  }
  
  &:hover, &.active {
    background-color: $secondary-colour;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}