$bgMain: #80d3f0;
$bgSecondary: #f395bf;
$text: #fff89f;

.button {
  background-color: $bgMain;
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.33);
  border-radius: 100px;
  font-size: 36px;
  letter-spacing: 2px;
  transition: margin 300ms ease, box-shadow 600ms ease, background-color 800ms ease;
  font-family: 'Averia Sans Libre', sans-serif;
  padding: 10px 20px;
  color: $text;
  border: none;
  
  &.active {
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.33);
    margin-top: 6px;
  }
  
  &:hover, &.active {
    background-color: $bgSecondary;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}