.section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.top {
  clip-path: polygon(0 0, 100% 0, 100% 84%, 85% 90%, 73% 70%, 20% 40%, 0 18%);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: $tertiary-colour;
  z-index: -1;
}