.wrap {
  padding: 18px;
  text-align: center;
}

.label {
  margin-bottom: 40px;
  margin-top: 80px;
  display: block;
  font-size: 80px;
  color: $primary-colour;
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  background: transparent;
  margin: 0;
  position: relative;
  height: 5px;
  background: $secondary-colour;

  &::before, &::after {
    content: '';
    height: 26px;
    width: 26px;
    background: $primary-colour;
    position: absolute;
    top: 0;
    border-radius: 50%;
    box-shadow: 0px 4px 0px $secondary-colour;
  }

  &::before {
    left: 0;
    transform: translate(-50%, -48%);
  }

  &::after {
    right: 0;
    transform: translate(50%, -48%);
  }

  &:focus {
    outline: none;
  }

  &::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
  }

  &::-webkit-slider-thumb{
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-image: url(https://uploads-ssl.webflow.com/5d114684c693cf4db4a9af8b/5d1dfb60bbf60237755902f2_Asset%2039.svg);
    cursor: pointer;
    -webkit-appearance: none;
    z-index: 2;
    position: relative;
  }
}